.home-call-to-action {
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	padding: 1em 1em 0;

	@include cta-up {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	@include tablet-portrait-up {
		padding: 0;
		padding-top: 93px; // the header height
	}
}

.home-cta-wrap {
	text-align: center;
	z-index: 1;
}

.home-cta-logo {
	margin-bottom: 1em;
	max-width: 200px;
}

.home-cta-link {
	background-color: $color__orange;
	display: block;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding: 0.35em;
	text-decoration: none;
	transition: $trans__default;

	&:hover {
		background-color: $color__light;
		color: $color__orange;
	}

	@include cta-up {
		margin-bottom: 0;
	}
}

.home-cta-buttons {
	@include resetlist;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.home-cta-button {
	margin: 0 1em;
}