.home {
	color: $color__dark;

	article {
		background-color: $color__darkgray;
		color 			: $color__light;
	}

	section {
		padding: 2em 0;
	}

	.page-content {
		font-size 	: 1.5em;
		line-height : 1;
		overflow 	: auto;
		padding 	: 1em;
		width 		: 100%;
		margin 		: 0 auto;
		max-width 	: 90vw;

		@include tablet-portrait-up() {
			font-size 	: 2em;
		}

		p {
			margin: 0;
		}
	}

	.edit-link {
		display: none;
	}
}

.home-video {
	display	: block;
	width	: 100%;
}

@import "pillars";
@import "awards";
@import "products";
@import "innovation";
@import "facilities";
@import "subscribe";
