/*
Innovation
 */
.home-innovation {
	background-color: $color__light;
}

.home-innovation-wrap {
	@include homewrap( 70 );
}

.home-innovation-image {
	width: 100%;
}

.home-innovation-image-link {
	display 		: block;
	transition 		: $trans__default;

	&:hover {
		background-color: $color__orange;
	}
}

.home-innovation-title-link {
	@include unline($color__orange);
}

.home-innovation-content {
	align-items 	: center;
	display 		: flex;

	@include phone-down {
		flex-wrap: wrap;
	}
}

.home-innovation-product-description {

	ul {
		list-style: none;

		li:before {
			background-color: $color__orange;
			border-radius: 50%;
			content: "";
			float: left;
			height: 0.5em;
			margin-right: 1em;
			transform: translateY(100%);
			width: 0.5em;
		}
	}
}