/*
Innovation
 */
.home-innovation {
	background-color: $color__light;
}

.innovation-wrap {
	margin 					: 0 auto;
	max-width 				: 90vw;
}

.innovation-description {
	text-align: center;
}

.innovation-image {
	width: 100%;
}
