/**
 * Current Menu Items.
 */
.current-primary-menu-item-link {
	color 		: $color__light;
	font-weight	: 700;

	&:visited {
		color: $color__light;
	}

	@include tablet-to-laptop {
		background-color: $color__light;
	}
}
