/**
 * Menu Items
 */
.primary-menu-item { // Every menu item
	position	: relative;
	transition	: 0.3s ease;

	@include tablet-down {
		margin-bottom: 1em;
	}

	&:hover,
	&.focus {

		> ul {
			@include tablet-portrait-up {
				left 		: auto;
				opacity 	: 1;
				visibility 	: visible;
			}
		}

		> a {
			@include laptop-up {
				color: $color__orange;
			}
		}

	}
}

.primary-menu-item-has-children {
	@include phone-down {
		border-bottom 	: 3px solid $color__orange;
	}

	@include tablet-to-laptop {
		border-bottom 	: 3px solid $color__darkgray;
	}
}

.primary-menu-item-0 {
	transition: $trans__default;

	@include laptop-up {
		align-items	: center;
		display 	: flex;
		padding 	: 0.5em 0;

		&:not(:last-child) > a {
			border-right: 1px solid orange;
		}
	}

	li { // all menu items below the first level
		flex: 100%;
		padding: 0.5em 0;
	}
}

.primary-menu-item-0-has-children {
	@include laptop-up {

		> a {
			margin-right: 0.75em;
			padding-right: 2em;

			&:after {
				border 				: 5px solid transparent;
				border-bottom-width : 0;
				border-top-color	: currentColor;
				content 			: "";
				height 				: 0;
				position 			: absolute;
				right 				: 0.5em;
				width 				: 0;
			}
		}
	}
}

.primary-menu-item-1 { // 2nd-level menu item, first submenu
	display 	: block;
	text-align 	: left;

	&:last-child { // Last child of the 2nd-level submenu and below.

		@include tablet-down {
			margin-bottom: 0;
		}
	}

	&:hover,
	&.focus,
	&:focus,
	&:active {

		> ul {
			@include tablet-portrait-up {
				left 	: 100%;
				top 	: 0;
			}
		}

		a {
			@include laptop-up() {
				color: $color__darkgray;
			}
		}
	}
}

.primary-menu-item-1-has-children {
	a {
		margin-right: 0.75em;

		&:after {
			border 				: 5px solid transparent;
			border-right-width	: 0;
			border-left-color	: currentColor;
			content 			: "";
			height 				: 0;
			position 			: absolute;
			right 				: -0.25em;
			width 				: 0;
		}
	}
}

.menu-heading {
	border-bottom: 1px solid $color__light;

	&:not(:first-child) {
		margin-top: 0.5em;
	}
}