/**
 * Menu Item Links.
 */
.primary-menu-item-link {
	align-items 	: center;
	color 			: $color__dark;
	display			: flex;
	font-weight 	: 700;
	line-height 	: 1;
	position 		: relative;
	text-align 		: center;
	text-decoration	: none;
	text-transform 	: uppercase;

	@include tablet-down {
		min-height: 44px;
		min-width : 44px;
	}

	@include laptop-up() {
		background-color: transparent;
		padding 		: 0 1em;
	}

	&:focus {
		outline-color: $color__med;
	}
}

.primary-menu-item-link-0 {
	// @include laptop-up {
	// 	border-left	: 1px solid $teal;
	// 	padding 	: 0 1em;
	// }
}

.primary-menu-item-link-0-first {
	// @include laptop-up {
	// 	border-left		: none;
	// 	padding-left 	: 0;
	// }
}

.primary-menu-item-link-0-last {
	// @include laptop-up {
	// 	padding-right: 0;
	// }
}

.primary-menu-item-link-0 {
	padding 		: 0.5em 1em;
}


.primary-menu-item-link-1{ // 2nd-level menu & all links below
	padding 	: 0.5em 2em;
	color 		: $color__light;

	@include tablet-portrait-up {
		padding 	: 0.5em 1em;
		white-space : nowrap;
	}
}

.primary-menu-item-link-2 {
	@include phone-down {
		border-left : none;
		padding 	: 0.5em 3em;
	}
}