/**
 * Toggle Button.
 */
.menu-primary-toggle {

	@include resetbutton();

	background		: $color__orange; // cannot use background-color to reset default WP button styles
	color 			: $color__light;
	font-size		: 1.25em;
	line-height		: 1.5;
	outline 		: 0;
	padding 		: 0.5em;
	position 		: initial !important;
	width			: 100%;

	&:hover,
	&:focus,
	&:active {
		background		: $color__orange;
		border			: none;
		box-shadow		: none;
		border-color	: inherit;
		color 			: $color__light;
	}

	@include tablet-portrait-up {
		margin 		: 0 auto;
		max-width 	: 200px;
		z-index		: 9999;
	}

	@include laptop-up {
		display: none;
	}

	* {
		pointer-events: none;
	}
}

.menu-primary-submenu-toggle {
	@include resetbutton();

	cursor 				: pointer;
	height 				: 100%;
	line-height			: 1.5;
	min-height 			: 44px;
	min-width 			: 44px;
	position 			: absolute;
	right 				: 0;
	top 				: 0;
	transition 			: all 0.4s ease;
	width 				: 2em;

	@include phone-down {
		background-color 	: $color__orange;
		border 				: 1px solid $color__orange;
	}						

	@include tablet-portrait-up {
		
	}

	@include laptop-up {
		display: none;
	}

	&:hover,
	&:focus,
	&:active,
	&.focus {
		background-color 	: $color__light;
		border 				: 3px solid $color__orange;
		color 				: $color__dark;

		@include tablet-portrait-up {
			background-color 	: $color__darkgray;
			border 				: 3px solid $color__darkgray;
			color 				: $color__light;
		}
	}
}

.menu-primary-submenu-icon {
	display: none;

	@include laptop-up {
		display 	: inline-block;
		margin-left : 0.25em;
	}
}
