$size__site-main		: 100%;
$size__site-content 	: 70%;
$size__site-sidebar		: 27.5%;

$size__default-marg	    : 1.5em;
$size__max-width 		: 1000px;

$size__menu_width		: 300px;
$size__menu_height      : 0px;
$menu-width 			: $size__menu_width;
$size__hidden-search 	: 180px;

$size__wp-admin-bar-1 	: 46px;
$size__wp-admin-bar-2 	: 32px;

$size__tablet-toggle-height	: 59px;
$size__tablet-toggle-width	: 175px;

$trans__default 		: 0.3s ease;

$size__logo             : 205px;
$size__max              : 62.5em;

/**
 * Login Page
 */
$size__login-logo-bg 	: 84px; // default size
$size__login-logo-width : 84px;
$size__login-logo-height: 84px;
