[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="search"],
[type="number"],
[type="tel"],
[type="range"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="color"],
textarea {
	color 			: $color__dark;
	border 			: 1px solid $color__med;
	border-radius 	: 3px;
	padding 		: 3px;

	&:focus {
		border-color 	: $color__med;
		color 			: $color__dark;
		outline-color 	: $color__med;
	}
}

textarea {
	padding 	: 0 0 0 3px;
	width 		: 100%;
}

select {
	-webkit-appearance 	: none;
	-moz-appearance 	: none;
	appearance 			: none;
	background 			: $color__med;
	border 				: 0;
	color 				: $color__dark;
	padding 			: 0.1em 0.5em;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="search"],
[type="number"],
[type="tel"],
[type="range"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
