.sidebar-homefooter {
	background-color: $color__light;
	float 			: none;
	width 			: 100%;

	.widget-title {
		font-style: italic;
	}

	p {
		margin: 0 auto 1.5em;
	}

	h2 {
		margin-top: 0;
	}

	.wrap {
		margin 	: 0 auto;
		padding : 1em;

		@include adminbar-up() {
			display 		: flex;
			justify-content : space-between;
			padding 		: 3em 0 1em;
		}
	}

	section.widget {

		@include mobile-admin-down() {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 3em;
			}
		}

		@include adminbar-up() {
			width 	: 32%;
		}
	}

	.textwidget {
		font-size 	: 1.25em;
		font-style 	: italic;
		font-weight : 700;
		text-align 	: center;

		a {
			text-decoration: none;
		}
	}

	.post-title {
		font-style 	: italic;
		margin 		: 0;

		a {
			color 		: $color__darkgray;
			font-size 	: 1.25em;
			font-weight : 700;
		}
	}

	.widget_ultimate_posts {

		@include mobile-admin-down() {
			text-align: center;
		}

		li {
			margin-bottom: 1.5em;
		}
	}
}
