.widget-area {
	float 		: left;
	overflow 	: auto;
	padding 	: 1em;
	width 		: 100%;

	&.markets {
		display: none;

		@include adminbar-up() {
			display : block;
			float 	: left;
		}
	}

	@include adminbar-up() {
		float: right;
		width: $size__site-sidebar;

		&.sidebar-content {
			float 	: left;
		}
	}
}



.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	.more-link {
		color 			: $color__orange;
		display 		: block;
		text-align 		: right;
		text-decoration : none;
		text-transform 	: uppercase;
	}

	ul {
		@include resetlist();
	}
}

.widget-title {
	color 			: $color__orange;
	line-height 	: 1;
	text-transform 	: uppercase;
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}

.widget_sp_image {
	a {
 		display		: block;
		text-align 	: center;
		width 		: 100%;
	}

	img {
		max-width 	: 400px !important;
		width 		: 100%;
	}
}
