.woocommerce {
	.products {
		display 		: flex;
		flex-wrap 		: wrap;

		.product {
			padding: 0.5em !important;

			&.product-category {
				margin: 0 1% 1.5em;

				@include tablet-to-adminbar() {
					width: 31% !important;
				}
			}
		}

		.woocommerce-LoopProduct-link {
			text-align: center;

			img {
				margin 		: 0 auto !important;
				max-height	: 150px;
				max-width 	: 150px;
			}

			h3 {

			}
		}
	}
}



.cc-range,
.title-product {
	text-align: center;
}

.title-product {
	margin: 0 auto;
}

.comps-ccs {
	font-size: 0.8em;
	font-weight: normal;
}

.wrap-products {
	display 		: flex;
	flex-wrap 		: wrap;
	justify-content : space-between;
}

.product-group,
.product-group-products {
	margin 	: 0;
	width 	: 100%;

	@include tablet-landscape-up() {
		width 	: 33%;

		&:not(:last-of-type) {
			border-right	: 1px solid $color__dark;
		}

		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {
			width: 50%;
		}

		&:first-child:nth-last-child(4),
		&:first-child:nth-last-child(4) ~ li {
			width: 25%;
		}

		&:first-child:nth-last-child(5),
		&:first-child:nth-last-child(5) ~ li {
			width: 20%;
		}
	}
}

.product-group-products {
	margin-bottom 	: 3em;

	@include tablet-landscape-up() {

		&.products-reciprocating {
			order: 6;
		}

		&.products-swash {
			order: 5;
		}

		&.products-wobble {
			order: 4;
		}
	}
}

.product-group {

	@include tablet-landscape-up() {

		&:not(:first-of-type) {
			padding-left: 0.5%;
		}

		&:not(:last-of-type) {
			padding-right	: 1%;
		}
	}
}

.product-group-list {
	display 		: flex;
	flex-wrap 		: wrap;
	justify-content : flex-start;

	@include resetlist();

	.market-product {
		margin: 1%;
	}
}

.product-group-title,
.featured-product-title {
	@include white_on_orange();
	padding 		: 0.5em;
	margin-top 		: 0;
}

.products-featured {
	margin-bottom: 3em;

	a {
		display 		: block;
		text-decoration : none;
	}
}

.featured-product {
	display 		: flex;
	justify-content : flex-start;
	margin-bottom 	: 3em;

	@include phone-down() {
		flex-wrap: wrap;
	}

	.feat-product-img {
		margin-right: 2.5%;
		min-height 	: 150px;
		min-width 	: 150px;
	}

	.market-thumb {
		height 	: auto;
		width 	: 100%;
	}
}

.feat-product-desc {
	h3 {
		margin-top: 0;
	}
}

.product-drawing-form {
	clear: both;
}

.woocommerce-loop-category__title {
	text-align: center;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
	width: 35%;
}

.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary {
	width: 61%;
}