.page-template-demandbase-landing .breadcrumbs{
	display: none;
}

.page-template-demandbase-landing .landing-section a {
	display: block;
	text-decoration: none;
}

.container-message{
	position: relative; 
	height: auto; 
	width: 100%; 
	background-color: $color__darkgray;
}

.text-message{
	//position: absolute; 
	//top: 50%; 
	//left: 35%;
	//transform: translate(-50%, -50%);
	text-align: left;

	@include adminbar-up {
		width: 80%;
		margin: 0 auto;
	}
}

.image-overlay{
	align-items: center;
	background-color: $trans__dark-half; 
	bottom: 0; 
	display: flex;
	height: 100%; 
	left: 0; 
	padding: 1em;
	position: absolute; 
	right: 0; 
	top: 0; 
	transition: .5s ease;
	width: 100%; 
}

.landing-content{
	color: $color__light; 
	text-align: center; 
	font-size: 1.3em; 
	font-weight: bold; 
	display:block; 
	width: 80%; 
	margin: 0 auto;
}

.landing-title {
	color: $color__light; 
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 0.5em;

	@include adminbar-up {
		font-size: 3.0em;
	}
}

.landing-section {
	display: block;
	height: 100%; 
	padding: 1em;
	width: 100%; 
}

.landing-section-white {
	background-color: $color__light; 
	color: $color__orange;
}

.landing-section-white .section-header-link,
.section-header-white {
	color: $color__orange;
}

.landing-section-orange {
	background-color: $color__orange; 
	color: $color__light;
}

.landing-section-orange .section-header-link,
.section-header-orange {
	color: $color__light;
}

.entry-content-page p {
	margin-bottom: 0;
}

.content-electric-landing p {
	margin-bottom: 1.5em;
}

.description{
	color: $color__dark;
}

.section-header {
	font-size: 2em;	
}

.section-header-white {
	color: $color__orange; 
}

.landing-image {
	width: 100%; 

	@include landing-down {
		height: 200px !important;
	}
}

.button-padding{
	padding-bottom:20px;
}

.section-landing-margin {
	display: block; 
	width: 75%; 
	margin: 0 auto 30px;

	@include adminbar-up {
		width: 60%; 
	}
}

.ending-content-style {
	color: $color__light; 
	text-align: center !important;

	@include tablet-portrait-up {
		margin: 0 auto;
		max-width: 50%;
	}
}

.landing-button {
	padding-bottom:10px;
}

.page-template-electric-compressors .breadcrumbs{
	display:none;
}

.landing-margin {
	display: block; 
	width: 100%; 
	margin: 0 auto 30px;
	padding-top: 10px;

	@include adminbar-up {
		width: 65%; 
		padding-top: 30px;
	}
}

.row {
	display: block; 
	flex-wrap: wrap; 
	padding: 0;

	@include adminbar-up {
		display: flex; 
		padding: 0 4px;
	}
} 

.column {
	flex: 100%; 
	padding: 0;

	@include adminbar-up {
		flex: 50%;
		padding: 0 4px;
	}
}

.column2 {
	flex: 50%; 
	padding: 0 4px;
}

.top-line {
	font-size: 2.2em; 
	margin-bottom: 0em !important; 
	padding-top: 0;
	padding-right: 10px; 
	padding-left: 10px;

	@include adminbar-up {
		padding-top: 90px;
	}
}

.second-line {
	font-size: 2.2em; 
	margin-bottom: 0.3em !important;
	padding-right: 10px; 
	padding-left: 10px;
}
	
.orange-line {
	color: $color__orange; 
	margin-bottom: 0.3em !important; 
	font-size: 1.7em;
	padding-right: 10px; 
	padding-left: 10px;
}
	
.last-line {
	padding-right: 10px; 
	padding-left: 10px;
}
	
.landing-margin2 {
	display: block; 
	width: 65%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 30px; 
	padding-top: 30px;
}

.top-line2 {
	font-size: 2.2em; 
	margin-bottom: 0em !important; 
	padding-top: 10px;
	padding-right: 10px; 
	padding-left: 10px;
}

.subtext{
	color: $color__med !important;

	@include mobile-admin-down {
		display: none;
	}
}

.samples {
	text-align: center; 
	color: $color__dark; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-size: 1.2em; 
	padding-top: 35px;
}

.compressor-title {
	color: $color__darkgray; 
	font-size: 2em;
}

.r-button-marg {
	display: block; 
	margin: 0 auto; 
	max-width: 264px;
}

.r-button-padding {
	padding-top: 30px; 
	padding-bottom: 30px;
}



.landing-page-product-links {
	@include resetlist;
	display: flex;
}

.landing-page-product-link-item {
	margin: 0 0.5em;
}

.btn {
	border: 1px solid;
	border-radius: 5px;
	display: block;
	max-width: 225px;
	padding: 0.25em 1em;
	text-align: center;
	text-decoration: none;
	transition: 0.4s ease;
}

.btn-orange,
.landing-section-white .landing-page-product-link {
	background-color: $color__orange;
	border-color: $color__orange;
	color: $color__light;

	&:hover {
		background-color: $color__light;
		color: $color__dark;
		text-decoration: underline;
	}
}

.btn-white {
	background-color: $color__light;
	border: 2px solid $color__dark;
	color: $color__dark;
	padding: 0.5em;

	&:hover {
		background-color: $color__dark;
		color: $color__light;
	}
}

.marg-center {
	margin: 1em auto;
}

.landing-section-white-gray-text {
	color: $color__darkgray;
}

.landing-page-product-link {
	
	.landing-section-orange & {
		background-color: $color__light;
		border-color: $color__light;
		color: $color__dark;

		&:hover {
			background-color: $color__orange;
			color: $color__light;
			text-decoration: underline;
		}
	}
}