@mixin featuredtext( $size ) {
	font-size 		: $size;
	font-style 		: italic;
	font-weight 	: 700;
	line-height 	: 1;
	text-shadow 	: 1px 1px 3px $color__dark;
	text-transform 	: uppercase;
}

@mixin white_on_orange() {
	background-color: $color__orange;
	color 			: $color__light;
}

/**
 * Included because these properties would otherwise need editing
 * in multiuple files/locations. This simplifies everything and
 * more implicitly shows the styling.
 */
@mixin homewrap( $maxvw: $size__max-home ) {
	margin 		: 0 auto;
	max-width 	: 90vw;

	@include adminbar-up {
		max-width: #{$maxvw}vw;
	}
}