.features {
	@include resetlist();

	@include adminbar-up() {
		display 		: flex;
	}

	li {
		margin-bottom 	: $size__default-marg;
		text-align 		: center;
	}

	a {
		display: block;
	}
}

.four-features {

	@include adminbar-up() {
		flex-wrap 		: wrap;
		justify-content : space-between;

		li {
			width: 45%;
		}
	}

}

.feat-video {
	.dashicons {
		color 			: $color__light;
		font-size 		: 60px;
		height 			: 60px;
		left 			: calc( 50% - 30px );
		position 		: absolute;
		text-decoration : none;
		top 			: 50%;
		transform 		: translateY(-50%);
		width 			: 60px;
	}
}
